<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo8.mapper.MemberMapper">

    <select id="selectMember" resultType="memberDto">

    <!-- $로 넣으면 'M00001' 이 값이 M00001이렇게 들어가는거임 -->
    <!-- #으로 넣으면 문자열 그대로 들어간다! -->
    select * from tb_member where m_no=#{m_no}
    </select>
    
    <select id="selectMemberList" resultType="memberDto">

    select * from tb_member order by m_no desc
    </select>
    

 
    

    
    </mapper>